// body {
//   background-color: #f6a333 !important;
//   background-image: url("../images/hero_bg0.png");
// }

.mt-90 {
  margin-top: 90px;
}

.mt-40 {
  margin-top: 2.5rem;
}

.mb-65 {
  margin-bottom: 65px;
}

.pb-175 {
  padding-bottom: 175px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pb-220 {
  padding-bottom: 220px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-100 {
  margin-bottom: 100px;
}

.font-dark {
  color: #272c34;
}

.font-sans {
  font-family: "Montserrat", sans-serif;
}

.herotitle {
  font-size: 66px;
}

.counter {
  max-width: 750px;
  margin: auto; //mx-auto
}

.counteritem {
  width: 150px;
}

.hexagon {
  background: url("../images/hexagon.png") no-repeat center;
  height: 175px;
  font-size: 80px;
  font-weight: 700;
  align-content: center;
  display: grid;
  width: 100%; //w-100
}

.hexatxt {
  font-size: 30px;
  font-weight: 700; //font-weight-bold
}

.mascot {
  position: relative;
  width: 550px;
  height: 492px;
  margin: auto;
  margin-top: -20px;
}

.mascotimg {
  width: 100%;
}

.mascotbtn {
  width: 100%;
  background-color: #272c34;
  border-radius: 20px;
  font-size: 45px;
}

.lore {
  padding: 350px 13.5% 300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 100px;
}

.lorepan {
  padding-top: 200px;
}

.loretlt {
  font-size: 66px;
  font-weight: bold;
}

.loretxt {
  font-size: 24px;
  line-height: 3rem;
}

.discordbtn {
  background-color: #f6a333;
  border-radius: 20px;
  font-size: 45px;
  padding: 5px 40px;
  font-weight: bold;
  text-decoration: none;
}

.discordbtn:hover {
  color: #ffffff;
  text-decoration: none;
}

.loreimg {
  padding: 40px 0px;
  position: relative; // postion-relative
}

.lorestackimg {
  position: absolute;
  top: 0%; //
  left: 0%;
  right: 0%;
  width: 100%;
}

.roadtlt {
  font-size: 66px;
  font-weight: bold;
}

.roadpan {
  background: url(../images/roadmap_first_active_.png) no-repeat;
  padding: 0px 15px 45px 90px;
}

.roadpantlt {
  font-size: 24px;
  color: #f6a333;
}

.roadpantxt {
  font-size: 24px;
}

.roadpan-last {
  background: url(../images/roadmap_last_.png) no-repeat 11px top;
  padding: 0px 15px 45px 90px;
}

.plan {
  padding: 0px 13.5% 220px;
}

.planlt {
  font-size: 44px;
  color: #f6a333;
}

.plantxt {
  font-size: 24px;
}

.discord {
  padding: 0px 13.5% 0px;
  background-color: #272c34;
  height: 476px;
}

.discordimg {
  position: relative;
  top: -150px;
  height: 626px;
}

.disjoin {
  font-size: 66px;
  color: #f6a333;
}

.distxt {
  font-size: 24px;
}

.partner {
  padding: 150px 13.5% 0px;
}

.partnertxt {
  font-size: 24px;
}

.partnercol {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.partnerlogo {
  height: 260px;
  max-width: 390px;
}

.partnerlogo-l {
  height: 260px;
  max-width: 390px;
  padding: 80px 0px 80px;
  width: 100%;
}

.beegirl {
  font-size: 44px;
  color: #272c34;
  margin: 45px 0px 15px;
}

.partnerref {
  font-size: 24px;
  font-weight: bold;
}

.partnerref:hover {
  text-decoration: none;
  color: #272c34;
}

.accordion-item {
  background-color: #ee900c !important;
  border: none !important;
  border-radius: 20px !important;
  margin-bottom: 20px;
}

.accordion-button {
  font-size: 24px !important;
  color: #ffffff !important;
  background-color: #ee900c !important;
  border-radius: 20px !important;
}

.accordion-button:not(.collapsed) {
  box-shadow: none !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("../images/faq_arrow.svg") !important;
}

.accordion-button::after {
  background-image: url("../images/faq_arrow.svg") !important;
}

.accordion-body {
  padding: 1rem 0rem !important;
  margin: 0px 15px 15px;
  border-top: 2px solid #fff;
  padding: 15px 0 0;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

.teamblocktlt {
  margin: 20px 0px 20px;
  color: #f6a333;
  font-weight: bold;
  font-size: 44px;
}

.footer {
  background-color: #272c34;
  padding-bottom: 150px;
}

.footerhref {
  text-decoration: none;
}

.footerhref:hover {
  color: #ffffff;
  text-decoration: none;
}

.roadpantxt {
  font-size: 29px;
}

.connect {
  margin-top: 20px;
}

.connecticon {
  width: 70px;
  height: 70px;
  padding: 10px;
}

@media (min-width: 300px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
}
